.body{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  display: flex;
}
.img{
  width: 50%;
  background: url("../new-classe/New\ Phototastic\ Collage2.jpg");
  background-size: cover;
  border-radius: 5px 0 0 5px;
}
.form{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.head{
  height: 25%;
  background-color: white;
  display: flex;
  border-radius: 0 5px 0 0;
}
.titre{
  color: #8fbad7;
  font-size: 26px;
  font-weight: bold;
  font-family: Calibri;
  margin: auto;
}
.formulaire{
  height: 100%;
  background-color: white;
  //border-radius: 0 0 5px 5px;
  display: flex;
  border-radius: 0 0 5px 0;
}
form{
  margin: auto;
}
.libelle,.filiere,.niveau,.bouton{
  margin-bottom: 50px;
  display: flex;
}
.text{
  font-family: Calibri;
  height: 18px;
  width: 60px;
  font-size: 20px;
  color: #555;
  font-weight: 700;
  margin-right: 60px;
  margin-top: 15px;
}
input{
  //margin: auto;
  background: hsl(205, 44%, 77%);
  width: 150px;
  line-height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 22px;
  font-size: 16px;
  color: #555
}
.bouton{
  display: flex;
}
.bouton1{
  width: 40%;
}
.bouton2{
  width: 40%;
  margin-left: 20%;
}
svg{
  margin: auto;
  margin-left: 15px;
}
.btn-annuler{
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: 1px #ff1d1d solid;
  background-color: #ff1d1d;
  color: white;
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0;
}
.btn-valider{
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: 1px #01ad01 solid;
  background-color: #01ad01;
  color: whitesmoke;
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  margin-right: 0;
}
$colors: (
  btn-annuler: #ff1d1d,
  btn-valider: #01ad01
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 0deg)};
  }
}
button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: whitesmoke;
  }
}
.btn-annuler:hover,
.btn-annuler:focus,
.btn-valider:hover,
.btn-valider:focus{
  box-shadow: 0em 1em 1em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

