.body{
  width: 60%;
  height: 80%;
  margin-top: 5%;
  margin-left: 20%;
  display: flex;
}
.img{
  width: 50%;
  background: url("../new-classe/New\ Phototastic\ Collage2.jpg");
  background-size: cover;
  border-radius: 5px 0 0 5px;
}
.formulaire{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.head{
  height: 25%;
  background-color: white;
  display: flex;
  border-radius: 0 5px 0 0;
}
.titre{
  color: #8fbad7;
  font-size: 20px;
  font-weight: bold;
  font-family: Calibri;
  margin: auto;
}
form{
  height: 100%;
  background-color: white;
  border-radius: 0 0 5px 0;
}
::placeholder{
  color:hsl(206, 56%, 91%);
  font-size: 14px;
}
.libelle,.filiere,.niveau{
  margin-bottom: 30px;
  margin-left: 10%;
  display: flex;
}
label{
  font-size: 16px;
  color: #555;
  font-weight: bold;
  margin-right: 40px;
  margin-top: 15px;
  font-family: Calibri;
}
input{
  //margin: auto;
  background: hsl(205, 44%, 77%);
  width: 80%;
  line-height: 40px;
  border-radius: 25px;
  border: none;
  padding: 0 12px;
  font-size: 14px;
  color: #555
}
select{
  background: hsl(205, 44%, 77%);
  height: 40px;
  width: 124%;
  border-radius: 25px;
  border: none;
  padding: 0 12px;
  font-size: 14px;
  color: #555
}
select:checked{
  background: #01ad01;
}
input:focus, select:focus{
  outline: none;
  border: none;

}
.bouton{
  display: flex;
  width: 40%;
  margin-top: 70px;
  margin-left: 30%;
}
svg{
  margin: auto;
  margin-left: 15px;
}
.btn-valider{
  width: 80%;
  height: 32px;
  margin-bottom: 0px;
  border: 1px #01ad01 solid;
  border-radius: 20px;
  background-color: #01ad01;
  color: whitesmoke;
  font-family: Calibri;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10%;
}
$colors: (
  btn-valider: #01ad01
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 0deg)};
  }
}
button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: whitesmoke;
  }
}
.btn-valider:hover
{
  box-shadow: 0em 1em 1em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.btn-valider:focus{
  outline: none;
  background-color:#4bbd4b ;
  border : 1px #4bbd4b solid;
}

