<div class="body">
  <div class="img">
  </div>
  <div class="formulaire">
<div class="head">
  <span class="titre">AJOUT NOUVELLE CLASSE</span>
</div>
    <form #NewClasseForm="ngForm">
      <div class="libelle">
        <label class="text">
          Libelle
        </label>
        <div class="i-libelle">
        <input type="text"
         required
         ngModel
         name = "libelle"
         placeholder = "Libelle de la classe">
        </div>
      </div>
      <div class="filiere">
        <label class="text">
          Filiere
        </label>
        <div class="i-filiere">
          <select #filiere name="filiere" ngModel placeholder="Scientifique">
            <option name= "filiere" value="Scientifique">Scientifique</option>
            <option name= "filiere" value="Litteraire">Litteraire</option>
            <option name= "filiere" value="General">General</option>
            <option name= "filiere" value="Science Economie">Science Economie</option>
          </select>
        </div>
      </div>
      <div class="niveau">
        <label class="text">
          Niveau
        </label>
        <div class="i-niveau">
        <input type="text"
          required
          min="1"
          max="7"
          name = "niveau"
          placeholder = "Niveau"
          ngModel>
        </div>
      </div>
      <div class="bouton">
        <button class="btn-valider" (click)="Valider(NewClasseForm.value)">
          Valider
          <svg aria-hidden="true" width ="13" height="13" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>
        </button>
        </div>
    </form>
  </div>
  </div>


