<div class="body">
<div class="head">AJOUT NOUVELLE CLASSE
</div>
  <div class="formulaire">
    <form>
      <div class="libelle">
        <span class="text">Libelle</span>
        <input type="text" class="i-libelle" [(ngModel])="libelle">
      </div>
      <div class="filiere">
        <span class="text">Filiere</span>
        <input type="text" class="i-filiere" [(ngModel])="filiere">
      </div>
      <div class="niveau">
        <span class="text">Niveau</span>
        <input type="text" class="i-niveau" [(ngModel])="niveau">
      </div>
      <div class="bouton">
        <button class="btn-annuler" (click)="Annuler()">Annuler</button>
        <button class="btn-valider" (click)="Annuler()">Valider</button>
      </div>

    </form>
  </div>
</div>

